* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

.background__style {
  background: center / cover no-repeat;
  width: 100%;
}

.error {
  font-size: 12px;
  color: red;
}

.swal2-popup {
  font-family: $font !important;
}

.null {
  color: $gray-text-color;
  font-weight: bold;
  align-self: center;
  margin: auto 0;
}

.container__form-transport {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dde6ed;
}
