.container__foter {
  .footer__section {
    background-color: $blue;
  }

  hr {
    width: 60px;
    background-color: #7c4dff;
    height: 2px;
  }

  .link {
    color: white;
    transition: 0.2s;
    &:hover {
      color: black;
    }
  }

  .copy {
    color: white;
    background-color: $blue;

    a {
      color: white;
    }
  }
}
