@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "./variables.scss";
@import "./common-elements.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./pages/home.scss";
@import "./pages/login.scss";
@import "./pages/register.scss";
@import "./pages/registermenor.scss";
@import "./pages/painelDependente.scss";
@import "./pages/responsibleMenu.scss";
@import "./pages/responsibleInfo.scss";
@import "./pages/navbarMenu.scss";
@import "./pages/logPainel.scss";
