@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import "./variables.scss";
@import "./common-elements.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./pages/home.scss";
@import "./pages/login.scss";
@import "./pages/register.scss";
@import "./pages/registermenor.scss";
@import "./pages/painelDependente.scss";
@import "./pages/responsibleMenu.scss";
@import "./pages/responsibleInfo.scss";
@import "./pages/navbarMenu.scss";
@import "./pages/logPainel.scss";
@import "./pages/transportadorDependent.scss";
@import "./pages/updadeLog.scss";
@import "./pages/schedule.scss";
@import "./pages/navbarTransportMenu.scss";
@import "./pages/transportMenu.scss";
@import "./pages/infoTransport.scss";
@import "./pages/notify.scss";
@import "./pages/notifyDependent.scss";
@import "./pages/transportDependentPanel.scss";
