// Header colors
$purple: #a31aca;
$yellow: #f5ea5a;
$blue: #3ab5df;
$gray-text-color: #7d7e8a;
$corboxfundo: #EEF3FF;

$dark-blue: #27374D;
$medium-blue: #526D82;
$light-blue: #9DB2BF;
$light-gray: #DDE6ED;

$font: "Poppins", sans-serif;
