.container__main {
  display: flex;
  flex-direction: column;
}

.main__banner {
  background-image: url("../img/home-banner.png");
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  justify-content: center;
  width: 100%;

  .main__banner-text {
    line-height: 72px;
    width: 550px;

    .banner__paragraph {
      font-size: 36px;
      font-weight: 500;
      margin-bottom: -8px;
    }

    .banner__title {
      font-size: 60px;
      font-weight: bold;
    }
  }

  .main__banner-btn {
    display: flex;
    gap: 14px;

    .banner__registerBtn,
    .banner__aboutBtn {
      background-color: $purple;
      border-radius: 10px;
      color: white;
      display: flex;
      font-family: $font;
      font-size: 16px;
      font-weight: bold;
      justify-content: center;
      overflow: hidden;
      padding: 12px 16px;
      text-decoration: none;
      text-overflow: ellipsis;
      text-transform: uppercase;
      transition: all 0.14s ease-out;
      white-space: nowrap;

      &:hover {
        box-shadow: 4px 4px 0 #000;
        transform: translate(-4px, -4px);
      }

      &:focus-visible {
        outline-offset: 1px;
      }
    }

    .banner__aboutBtn {
      background-color: $yellow;
      color: black;
    }
  }
}

.main__specs {
  align-items: center;
  display: flex;
  min-height: 20vh;
  justify-content: space-between;

  .main__specs-item {
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    cursor: pointer;
    display: flex;
    min-height: 100px;
    justify-content: space-evenly;
    transition: transform 200ms, background 200ms;
    width: 23%;

    &:hover {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.548);
      transform: translateY(-5px);
    }

    .item__icon {
      align-items: center;
      border-radius: 12px;
      display: flex;
      min-height: 60px;
      justify-content: center;
      width: 60px;
    }

    p {
      color: $gray-text-color;
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      width: 60%;
    }
  }

  .main__specs-item:nth-child(1) .item__icon {
    background-color: #af88b8;
    color: #863898;
  }

  .main__specs-item:nth-child(2) .item__icon {
    background-color: #f49e9c;
    color: #a41e1b;
  }

  .main__specs-item:nth-child(3) .item__icon {
    background-color: #a8d59d;
    color: #2a9410;
  }
  .main__specs-item:nth-child(4) .item__icon {
    background-color: #facd8a;
    color: #b5781c;
  }
}

.main__about {
  align-items: center;
  background-color: $purple;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  min-height: 100vh;
  justify-content: center;

  .main__about-box {
    align-items: center;
    background-image: url("../img/about-background.png");
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    justify-content: center;
    min-height: 90vh;
    width: 80%;
  }

  .about__text {
    margin-left: 80px;
    width: 23%;
  }

  .about__text-title {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;

    span {
      color: $yellow;
    }
  }

  .about__text-paragraph {
    color: #f0bdff;
  }

  .about__text-link {
    color: $yellow;
    text-decoration: none;
  }
}

.main__services {
  display: flex;
  flex-direction: column;
  padding: 70px 0 0 0;

  .services__item-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
  }

  .services__title {
    color: black;
    font-size: 38px;
    font-weight: bold;
    margin: 20px 0 0 0;
    text-align: center;
  }

  .services__item {
    align-items: center;
    display: flex;
    justify-content: space-evenly;

    img {
      width: 40%;
    }
  }

  .services__item-text {
    text-align: start;
    width: 30%;

    .services__item-title {
      color: black;
      font-size: 32px;
      font-weight: 600;

      span {
        color: $purple;
      }
    }

    .services__item-paragraph {
      color: $gray-text-color;
      font-size: 18px;
      width: 400px;
    }

    .services__item-link {
      color: $purple;
      text-decoration: none;
    }
  }

  .services__item-container:nth-child(3) {
    background-color: #f5f5f9;

    .services__item {
      flex-direction: row-reverse;

      .services__item-title {
        text-align: end;
      }

      .services__item-text {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
      }

      .services__item-paragraph {
        text-align: end;
      }
    }
  }
}

.main__bannerTransport {
  background-image: url("../img/home-bannerTransport.png");
  height: 80vh;
  display: flex;
}

.main__transport-box {
  display: flex;
  align-items: center;
}

.main__transport-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .transportBusiness__img {
    width: 80%;
  }

  .main__banner-btn {
    display: flex;
    gap: 14px;

    .banner__registerBtn,
    .banner__aboutBtn {
      background-color: #526d82;
      border-radius: 10px;
      color: white;
      display: flex;
      font-family: $font;
      font-size: 16px;
      font-weight: bold;
      justify-content: center;
      overflow: hidden;
      padding: 12px 16px;
      text-decoration: none;
      text-overflow: ellipsis;
      text-transform: uppercase;
      transition: all 0.14s ease-out;
      white-space: nowrap;

      &:hover {
        box-shadow: 4px 4px 0 #000;
        transform: translate(-4px, -4px);
      }

      &:focus-visible {
        outline-offset: 1px;
      }
    }

    .banner__aboutBtn {
      background-color: #92acbf;
    }
  }
}

@media (max-width: 1024px) {
  .main__banner {
    .main__banner-text {
      .banner__paragraph {
        font-size: 24px;
        margin-bottom: -20px;
      }

      .banner__title {
        font-size: 40px;
        line-height: 50px;
      }
    }

    .banner__registerBtn,
    .banner__aboutBtn {
      font-size: 14px;
    }
  }

  .main__specs {
    .main__specs-item {
      min-height: 80px;
      width: 22%;

      .item__icon {
        min-height: 40px;
        width: 40px;

        svg {
          width: 50%;
        }
      }

      p {
        font-size: 12px;
      }
    }
  }

  .main__about {
    align-items: center;
    background-color: $purple;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    min-height: 100vh;
    justify-content: center;

    .main__about-box {
      background-image: url("../img/about-background.png");
      min-height: 65%;
      width: 90%;
    }

    img {
      width: 40%;
    }

    .about__text {
      width: 40%;
      margin-left: 50px;
    }

    .about__text-title {
      color: white;
      font-size: 2rem;
    }

    .about__text-paragraph {
      color: #f0bdff;
    }

    .about__text-link {
      color: $yellow;
      text-decoration: none;
    }
  }

  .main__services {
    .services__item {
      justify-content: center;

      img {
        width: 400px;
      }
    }

    .services__item-text {
      .services__item-title {
        font-size: 24px;
      }

      .services__item-paragraph {
        font-size: 16px;
        width: auto;
      }

      .services__item-link {
        color: $purple;
        text-decoration: none;
      }
    }

    .services__item-container:nth-child(3) {
      background-color: #f5f5f9;

      .services__item {
        flex-direction: row-reverse;

        .services__item-text {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
        }

        .services__item-paragraph {
          text-align: end;
        }
      }
    }
  }

  .main__bannerTransport {
    background-image: none;
    background-color: #f5f5f9;
  }

  .main__transport-box {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .main__banner {
    min-height: 64vh;
  }

  .main__specs {
    flex-wrap: wrap;
    min-height: 26vh;

    .main__specs-item {
      width: 48%;
    }
  }

  .main__banner .main__banner-text {
    line-height: 72px;
    width: 300px;

    .banner__title {
      font-size: 30px;
    }
  }

  .main__about {
    background-color: $purple;
    min-height: 100vh;

    .main__about-box {
      min-height: 100%;
      width: 100%;
      border-radius: 0;
      flex-direction: column;
    }

    img {
      width: 40%;
    }

    .about__text {
      width: 80%;
      margin-left: 0px;
      text-align: center;
    }
  }

  .main__services {
    .services__item {
      flex-direction: column;

      img {
        width: 300px;
      }
    }

    .services__item-text {
      width: 80%;
      text-align: center;
    }
  }

  .main__services .services__item-container:nth-child(3) .services__item {
    flex-direction: column;

    .services__item-text,
    .services__item-paragraph,
    .services__item-link {
      align-items: center;
      text-align: center;
    }
  }

  .main__services .services__item img {
    width: 40%;
  }
}

@media (max-width: 425px) {
  .main__services
    .services__item-container:nth-child(3)
    .services__item
    .services__item-title {
    text-align: center;
  }

  .main__about .about__text-title {
    color: white;
    font-size: 1.5rem;
  }

  .main__banner {
    .main__banner-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      .main__banner-text {
        text-align: center;
        width: auto;
        color: rgb(255, 255, 255);
        text-shadow: 0 10px 20px rgba(0, 0, 0, 0.452),
          0 6px 6px rgba(0, 0, 0, 0.493);

        .banner__paragraph {
          font-weight: 600;
        }

        .banner__title {
          font-weight: bold;
        }
      }

      .main__banner-btn {
        .banner__registerBtn,
        .banner__aboutBtn {
          font-size: 10px;
        }
      }
    }
  }

  .main__transport-content .main__banner-btn .banner__registerBtn,
  .main__transport-content .main__banner-btn .banner__aboutBtn {
    font-size: 10px;
  }

  .main__banner .main__banner-text .banner__paragraph {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .main__banner .main__banner-text .banner__title {
    font-size: 20px;
    line-height: 30px;
  }

  .main__banner .main__banner-text {
    line-height: 30px;
  }

  .main__specs {
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    .main__specs-item {
      width: 100%;
    }
  }
}

@media (max-height: 800px) {
  .main__banner {
    padding-bottom: 20px;
  }

  .main__specs {
    min-height: 200px;
  }

  .main__about {
    padding: 20px 0;
    .main__about-box {
      box-shadow: none;
      min-height: 90vh;
    }
  }

  .services__item-container {
    min-height: 800px;
  }

  .main__bannerTransport {
    min-height: 800px;
  }
}
