* {
  font-family: $font;
}

.dependenteTitulo {
  display: flex;
  margin-left: 5rem;
}

.tittleDependentes {
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: $font;
  margin-bottom: 10px;
}

.box {
  background-color: $corboxfundo;
  height: 45vw;
  width: auto;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1%;
}
.box .titulos {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font;
  font-weight: bolder;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.box .titulos .infoTitulos {
  width: 310px;
  text-align: center;
  font-weight: bolder;
}

.dependente {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vw;
  width: calc(100% - 7%);
  background-color: #ffffff;
  border-radius: 1%;

  margin-top: 2rem;
}
.dependente .icon #userDependente {
  width: 3vw;
}
#botaoDependent{
  height: 27px;
  
}
#botaoDependentEdit{
  height: 27px;
}

.dependente .dados {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font;
}

.dependente .dados .infoDados {
  width: 300px;
  text-align: center;
}
@media (max-width: 1440px) {
  .box {
    width: 90%;
  }
  .box .titulos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font;
    font-weight: bolder;
    margin-top: 1rem;
  }
  .box .titulos .infoTitulos {
    width: 200px;
    text-align: center;
    font-weight: bolder;
  }
  .dependente .dados .infoDados {
    width: 200px;
    text-align: center;
  }

  @media (max-width: 1024px) {
    .box {
      width: 90%;
      height: 80vh;
    }
    .box .titulos {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $font;
      font-weight: bolder;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    .box .titulos .infoTitulos {
      width: 150px;
      text-align: center;
      font-weight: bolder;
    }
    .dependente .dados .infoDados {
      width: 150px;
      text-align: center;
    }

    @media (max-width: 768px) {
      .box {
        width: 90%;
        height: 80vh;
      }
      .box .titulos {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font;
        font-weight: bolder;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
      .box .titulos .infoTitulos {
        width: 100px;
        text-align: center;
        font-weight: bolder;
        font-size: 12px;
      }
      .dependente{
        margin-top: 1rem;
      }
      .dependente .dados .infoDados {
        width: 110px;
        text-align: center;
        font-size: 13px;
        
      }
    }

    @media (max-width: 425px) {
      .dependenteTitulo {
        display: none;
        margin-left: 1rem;
      }
      #tittledependentes {
        font-family: $font;
        font-size: 10px;
      }
      .box {
        width: 100%;
        height: 80vh;
        margin-left: 0;
        margin-right: 0;
      }
      .box .titulos {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font;
        font-weight: bolder;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
      .box .titulos .infoTitulos {
        width: 70px;
        text-align: center;
        font-weight: bolder;
        font-size: 8px;
      }
      .dependente .dados .infoDados {
        width: 70px;
        text-align: center;
        font-size: 9px;
      }
      #botaoDependent{
        height: 12px;
        
      }
      #botaoDependentEdit{
        height: 12px;
      }
    }
    @media (max-width: 375px) {
      .box .titulos {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font;
        font-weight: bolder;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }
      .box .titulos .infoTitulos {
        width: 60px;
        text-align: center;
        font-weight: bolder;
        font-size: 10px;
      }
      .dependente {
        height: 7vh;
      }
      .dependente .dados .infoDados {
        width: 60px;
        height: 2vh;
      }
    }

  @media (max-width: 320px) {
    .dependente .dados .infoDados {
      width: 55px;
      text-align: center;
      font-size: 8px;
    }
    .box .titulos .infoTitulos {
      width: 55px;
      text-align: center;
      font-weight: bolder;
      font-size: 10px;
    }
  }
  } 
}



@media(max-height:371px){
  .dependente{
    min-height: 371px;
    padding-bottom: 15px;
  }
}