.container__main-panelResponsible {
  height: 92vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: white;

  .panel__content {
    margin-top: 30px;
    height: auto;
    width: 97%;
    padding: 20px;
    background-color: #eef3ff;
    border-radius: 10px;
  }

  .table-light {
    --bs-table-bg: #3ab5df;
    color: white;
  }

  .table__panel {
    thead {
      font-weight: bold;
    }
  }
}

.id {
  font-weight: bold;
}

.panelContent {
  th {
    padding: 20px;
  }
}

.panel_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-content {
  display: flex;
  gap: 1%;
}

.card__title {
  font-size: 16px;
  color: #646466;
  font-weight: bold;
  margin-bottom: 0;
}

.btn-styleResponsible {
  color: white;
  background-color: #3ab5df;
}

@media (max-width: 768px) {
  .container__main-panel .panel__content h2 {
    font-size: 16px;
  }

  .fc .fc-button-group button {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .fc .fc-toolbar {
    flex-direction: column;
  }
  .fc .fc-button-group button {
    margin: 8px 0;
  }
}

#botaoDependentDelete {
  height: 27px;
}

#botaolixo {
  border: none;
  outline: none;
  background-color: transparent;
}

#botaoDependentEdit {
  height: 27px;
}
