
.dependenteTitulo{
    display: flex;
    margin-left: 5rem;
}

.dependenteTitulo #tittledependentes{
    font-family: $font;
    
}
.box{
    
    background-color: $corboxfundo;
    height: 45vw;
    width: auto;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1%;
    :hover{
        background-color: rgb(219, 219, 219);
    }
    

}
.box .titulos{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}
.box .titulos .infoTitulos{
    width: 310px;
    text-align: center;
    font-weight: bolder;
    
    
}

.dependente{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vw;
    width: calc(100% - 7%);
    background-color: rgb(255, 255, 255);
    border-radius: 1%;
    box-shadow: 0.5px 0px 5px 0px  #000;
    
    

}
.dependente .icon #userDependente{
    width: 3vw;
}

.dependente .dados{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font;

}

.dependente .dados .infoDados{
    width: 312px;
    text-align: center;
    
}
@media (max-width: 1440px) {
    .box{
        width: 80%;
    }
    .box .titulos{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font;
        font-weight: bolder;
        margin-top: 1rem;
        margin-bottom: 2rem;
        
    }
    .box .titulos .infoTitulos{
        width: 200px;
        text-align: center;
        font-weight: bolder;
    }
    .dependente .dados .infoDados{
        width: 200px;
        text-align: center;
        
    }
@media(max-width: 1024px){
    .box{
        width: 90%;
        height: 80vh;
    }
    .box .titulos{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font;
        font-weight: bolder;
        margin-top: 1rem;
        margin-bottom: 2rem;
        
    }
    .box .titulos .infoTitulos{
        width: 150px;
        text-align: center;
        font-weight: bolder;
    }
    .dependente .dados .infoDados{
        width: 150px;
        text-align: center;
        
    }

@media(max-width: 768px){
    .box{
        width: 90%;
        height: 80vh;
    }
    .box .titulos{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font;
        font-weight: bolder;
        margin-top: 1rem;
        margin-bottom: 2rem;
        
    }
    .box .titulos .infoTitulos{
        width: 120px;
        text-align: center;
        font-weight: bolder;
        font-size: 18px;
    }
    .dependente .dados .infoDados{
        width: 120px;
        text-align: center;
        font-size: 13px;
        
    }

@media(max-width: 425px){
    .dependenteTitulo{
        display: none;
        margin-left: 1rem;
        
    
    }
    .dependenteTitulo #tittledependentes{
        font-family: $font;
        font-size: 10px;
    }    
    .box{
        width: 100%;
        height: 80vh;
        margin-left: 0;
        margin-right: 0;
    }
    .box .titulos{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font;
        font-weight: bolder;
        margin-top: 1rem;
        margin-bottom: 2rem;
        
    }
    .box .titulos .infoTitulos{
        width: 80px;
        text-align: center;
        font-weight: bolder;
        font-size: 13px;
    }
    .dependente .dados .infoDados{
        width: 75px;
        text-align: center;
        font-size: 9px;
        
    }

}
}

    
}
}