.container__form-register {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  font-weight: 500;
  background-color: aliceblue;

  .container__form-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form__btn {
    background-color: $purple;
    border: none;
    border-radius: 8px;
    color: white;
    display: flex;
    font-weight: bold;
    justify-content: center;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: all 0.14s ease-out;
    white-space: nowrap;

    &:hover {
      box-shadow: 4px 4px 0 #000;
      transform: translate(-4px, -4px);
    }

    &:focus-visible {
      outline-offset: 1px;
    }
  }
}

.passwordContent {
  display: flex;
  gap: 0.25rem;
}

.error {
  color: red;
  font-size: 12px;
}

.require {
  font-size: 12px;
  color: $gray-text-color;
}

@media (max-width: 768px) {
  .container__form-register {
    height: auto;
  }

  .container__form {
    margin-bottom: 20px;
  }

  .passwordContent {
    flex-direction: column;
  }

  .require {
    font-size: 10px;
  }
}

@media (max-height: 800px) {
  .container__form-register {
    padding: 20px 0;
  }
}
