.container__main-app {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .card__title {
    font-size: 16px;
    color: #646466;
    font-weight: bold;
    margin-bottom: 0;
  }

  .main__app-content {
    display: grid;
    height: 92%;
    width: 97%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;

    .card__button {
      button {
        border: none;
        color: white;
        background-color: #3ab5df;
        padding: 10px 20px;
        border-radius: 10px;
        font-weight: 600;
      }
    }

    .content__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
    }

    .content__card:nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/3;
      background-color: #eef3ff;
    }

    .content__card:nth-child(2) {
      grid-column: 3/4;
      grid-row: 1/4;
      background-color: #eef3ff;
    }

    .content__card:nth-child(3) {
      grid-column: 4/4;
      grid-row: 1/2;
      background-color: #eef3ff;
    }

    .content__card:nth-child(4) {
      grid-column: 4/4;
      grid-row: 2/4;
      background-color: #eef3ff;
    }

    .content__card:nth-child(5) {
      grid-column: 1/2;
      grid-row: 3/4;
      background-color: #3ab5df;
    }

    .content__card:nth-child(6) {
      grid-column: 2/3;
      grid-row: 3/4;
      background-color: #eef3ff;
    }
  }
}

.card__container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;

  .card__dependents-content {
    height: 23%;
    background-color: white;
    border-radius: 10px;
  }

  .card__log-content {
    height: 13%;
    background-color: white;
    border-radius: 10px;
  }

  .card__schedule-content:nth-child(2) {
    height: 36%;
    background-color: #3ab5df;
    border-radius: 10px;
  }
  .card__schedule-content:nth-child(3) {
    height: 36%;
    background-color: white;
    border-radius: 10px;
  }

  .card__notifications-content {
    height: 21.5%;
    background-color: white;
    border-radius: 10px;
  }

  .config__img {
    width: 180px;
  }
}

.card__title-add {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 10px;
  align-self: flex-start;
}

.container__add {
  align-items: center;
  justify-content: space-between;
}

.container__config {
  align-items: center;
}

.card__title-config {
  font-size: 16px;
  color: #646466;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 10px;
  align-self: flex-start;
}

.card__dependents-content {
  display: flex;
  align-items: center;
  gap: 5%;
  .dependent__img {
    width: 80px;
    height: 80px;
    background-color: #3ab6df93;
    border-radius: 10px;
    margin-left: 20px;
  }
  .dependent__info {
    width: 20%;
    .dependent__info-title {
      color: black;
      font-weight: bold;
      margin: 0;
    }
    .dependent__info-text {
      color: $gray-text-color;
      font-weight: 600;
      margin: 0;
    }
  }
}

@media (max-width: 1024px) {
  .container__main-app .card__title {
    font-size: 14px;
  }

  .card__title-add {
    font-size: 14px;
  }
  .card__title-config {
    font-size: 14px;
  }

  .card__container .config__img {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .card__container .card__log-content {
    height: 12%;
  }
  .container__main-app {
    align-items: flex-start;
    height: auto;
    margin-bottom: 10px;
    .main__app-content {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
      .content__card:nth-child(1) {
        grid-column: 1/5;
        grid-row: 1/3;
        background-color: #eef3ff;
      }

      .content__card:nth-child(2) {
        grid-column: 1/3;
        grid-row: 4/7;
        background-color: #eef3ff;
      }

      .content__card:nth-child(3) {
        grid-column: 3/5;
        grid-row: 4/4;
        background-color: #eef3ff;
      }

      .content__card:nth-child(4) {
        grid-column: 3/5;
        grid-row: 5/7;
        background-color: #eef3ff;
      }

      .content__card:nth-child(5) {
        grid-column: 1/3;
        grid-row: 3/4;
        background-color: #3ab5df;
      }

      .content__card:nth-child(6) {
        grid-column: 3/5;
        grid-row: 3/4;
        background-color: #eef3ff;
        padding-bottom: 10px;
      }
    }
  }
}

@media (max-width: 425px) {
  .card__container .card__log-content {
    height: 12%;
  }
  .container__main-app {
    align-items: flex-start;
    height: auto;
    margin-bottom: 10px;
    .main__app-content {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(10, 1fr);
      .content__card:nth-child(1) {
        grid-column: 1/5;
        grid-row: 1/3;
        background-color: #eef3ff;
      }

      .content__card:nth-child(2) {
        grid-column: 1/5;
        grid-row: 6/9;
        background-color: #eef3ff;
      }

      .content__card:nth-child(3) {
        grid-column: 1/5;
        grid-row: 5/6;
        background-color: #eef3ff;
      }

      .content__card:nth-child(4) {
        grid-column: 1/5;
        grid-row: 9/11;
        background-color: #eef3ff;
      }

      .content__card:nth-child(5) {
        grid-column: 1/5;
        grid-row: 3/4;
        background-color: #3ab5df;
      }

      .content__card:nth-child(6) {
        grid-column: 1/5;
        grid-row: 4/5;
        background-color: #eef3ff;
      }
    }
  }
}
