.container__main-reponsibleInfo {
  height: 92vh;
  background-color: #f0f8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container__responsibleInfo-content {
  display: flex;
  justify-content: center;
}

.info__btn-edit {
  background-color: $blue;
  border: none;
  border-radius: 8px;
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: all 0.14s ease-out;
  white-space: nowrap;

  &:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px, -4px);
  }

  &:focus-visible {
    outline-offset: 1px;
  }
}

.disabled {
  cursor: not-allowed;
}

.form-disabled {
  display: none;
}
