@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.background__style {
  background: center/cover no-repeat;
  width: 100%;
}

.container__header {
  display: flex;
  min-height: 10vh;
  justify-content: center;
  width: 100%;
}
.container__header .container__header-content {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.header__nav ul {
  display: flex;
  margin-bottom: 0;
}
.header__nav ul li a {
  color: #7d7e8a;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 10px 30px;
  text-decoration: none;
}
.header__nav ul li a:hover {
  color: #a31aca;
  font-weight: 500;
}
.header__nav ul li .active {
  color: #a31aca;
  font-weight: 500;
}

.header__button {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__button #nav-icon {
  color: #a31aca;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

.header__btn {
  align-items: center;
  background-color: #a31aca;
  border-radius: 10px;
  color: white;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.header__btn:hover {
  color: white;
}
.header__btn svg {
  margin-right: 6px;
}

@media (max-width: 1024px) {
  .header__image {
    width: 100px;
  }
  .header__nav ul li a {
    font-size: 12px;
    margin: 10px 20px;
  }
  .header__btn {
    font-size: 12px;
    text-decoration: none;
  }
}
@media (max-width: 768px) {
  .container__header .container__header-content {
    justify-content: space-between;
  }
  .header__nav {
    position: fixed;
    top: 10vh;
    right: 0;
    width: 300px;
    min-height: 200px;
    background-color: #a41aca;
    transform: translateX(1000px);
    transition: transform 0.3s ease-in-out;
  }
  .header__nav ul {
    align-items: flex-start;
    flex-direction: column;
  }
  .header__nav ul li a,
  .header__nav ul a.active {
    display: block;
    margin: 12px 0;
    padding: 0 25px;
    transition: all 0.5s ease;
    color: white;
  }
  .header__nav ul li a:hover,
  .header__nav ul a.active:hover {
    color: white;
    font-weight: 500;
    transform: translateY(2px);
  }
  .header__button #nav-icon {
    display: block;
  }
  .header__nav.open {
    transform: translateX(0px);
  }
}
@media (max-height: 800px) {
  .container__header {
    min-height: 80px;
  }
  .header__nav {
    top: 80px;
  }
}
.container__footer {
  box-shadow: 0px 4px 53px -8px rgba(0, 0, 0, 0.3);
  display: flex;
  height: 100px;
  -moz-box-shadow: 0px 4px 53px -8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 4px 53px -8px rgba(0, 0, 0, 0.3);
}
.container__footer .container__footer-md {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.container__footer .container__footer-md .container__footer-logo {
  align-items: center;
  display: flex;
}
.container__footer .container__footer-md .container__footer-logo img {
  width: 130px;
}
.container__footer .container__footer-md .container__footer-logo p {
  color: #7d7e8a;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 3px 0 0 20px;
}
.container__footer .container__footer-md .container__footer-link {
  color: #7d7e8a;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 768px) {
  .container__footer .container__footer-md {
    justify-content: space-around;
  }
  .container__footer .container__footer-md .container__footer-logo img {
    width: 100px;
  }
  .container__footer .container__footer-md .container__footer-logo p {
    font-size: 12px;
  }
  .container__footer-link {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .container__footer .container__footer-md {
    flex-direction: column;
  }
}
.container__main {
  display: flex;
  flex-direction: column;
}

.main__banner {
  background-image: url("../img/home-banner.png");
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  justify-content: center;
  width: 100%;
}
.main__banner .main__banner-text {
  line-height: 72px;
  width: 550px;
}
.main__banner .main__banner-text .banner__paragraph {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: -8px;
}
.main__banner .main__banner-text .banner__title {
  font-size: 60px;
  font-weight: bold;
}
.main__banner .main__banner-btn {
  display: flex;
  gap: 14px;
}
.main__banner .main__banner-btn .banner__registerBtn,
.main__banner .main__banner-btn .banner__aboutBtn {
  background-color: #a31aca;
  border-radius: 10px;
  color: white;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: all 0.14s ease-out;
  white-space: nowrap;
}
.main__banner .main__banner-btn .banner__registerBtn:hover,
.main__banner .main__banner-btn .banner__aboutBtn:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}
.main__banner .main__banner-btn .banner__registerBtn:focus-visible,
.main__banner .main__banner-btn .banner__aboutBtn:focus-visible {
  outline-offset: 1px;
}
.main__banner .main__banner-btn .banner__aboutBtn {
  background-color: #f5ea5a;
  color: black;
}

.main__specs {
  align-items: center;
  display: flex;
  min-height: 20vh;
  justify-content: space-between;
}
.main__specs .main__specs-item {
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  min-height: 100px;
  justify-content: space-evenly;
  transition: transform 200ms, background 200ms;
  width: 23%;
}
.main__specs .main__specs-item:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.548);
  transform: translateY(-5px);
}
.main__specs .main__specs-item .item__icon {
  align-items: center;
  border-radius: 12px;
  display: flex;
  min-height: 60px;
  justify-content: center;
  width: 60px;
}
.main__specs .main__specs-item p {
  color: #7d7e8a;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  width: 60%;
}
.main__specs .main__specs-item:nth-child(1) .item__icon {
  background-color: #af88b8;
  color: #863898;
}
.main__specs .main__specs-item:nth-child(2) .item__icon {
  background-color: #f49e9c;
  color: #a41e1b;
}
.main__specs .main__specs-item:nth-child(3) .item__icon {
  background-color: #a8d59d;
  color: #2a9410;
}
.main__specs .main__specs-item:nth-child(4) .item__icon {
  background-color: #facd8a;
  color: #b5781c;
}

.main__about {
  align-items: center;
  background-color: #a31aca;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  min-height: 100vh;
  justify-content: center;
}
.main__about .main__about-box {
  align-items: center;
  background-image: url("../img/about-background.png");
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  justify-content: center;
  min-height: 90vh;
  width: 80%;
}
.main__about .about__text {
  margin-left: 80px;
  width: 23%;
}
.main__about .about__text-title {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}
.main__about .about__text-title span {
  color: #f5ea5a;
}
.main__about .about__text-paragraph {
  color: #f0bdff;
}
.main__about .about__text-link {
  color: #f5ea5a;
  text-decoration: none;
}

.main__services {
  display: flex;
  flex-direction: column;
  padding: 70px 0 0 0;
}
.main__services .services__item-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}
.main__services .services__title {
  color: black;
  font-size: 38px;
  font-weight: bold;
  margin: 20px 0 0 0;
  text-align: center;
}
.main__services .services__item {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.main__services .services__item img {
  width: 40%;
}
.main__services .services__item-text {
  text-align: start;
  width: 30%;
}
.main__services .services__item-text .services__item-title {
  color: black;
  font-size: 32px;
  font-weight: 600;
}
.main__services .services__item-text .services__item-title span {
  color: #a31aca;
}
.main__services .services__item-text .services__item-paragraph {
  color: #7d7e8a;
  font-size: 18px;
  width: 400px;
}
.main__services .services__item-text .services__item-link {
  color: #a31aca;
  text-decoration: none;
}
.main__services .services__item-container:nth-child(3) {
  background-color: #f5f5f9;
}
.main__services .services__item-container:nth-child(3) .services__item {
  flex-direction: row-reverse;
}
.main__services .services__item-container:nth-child(3) .services__item .services__item-title {
  text-align: end;
}
.main__services .services__item-container:nth-child(3) .services__item .services__item-text {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.main__services .services__item-container:nth-child(3) .services__item .services__item-paragraph {
  text-align: end;
}

@media (max-width: 1024px) {
  .main__banner .main__banner-text .banner__paragraph {
    font-size: 24px;
    margin-bottom: -20px;
  }
  .main__banner .main__banner-text .banner__title {
    font-size: 40px;
    line-height: 50px;
  }
  .main__banner .banner__registerBtn,
  .main__banner .banner__aboutBtn {
    font-size: 14px;
  }
  .main__specs .main__specs-item {
    min-height: 80px;
    width: 22%;
  }
  .main__specs .main__specs-item .item__icon {
    min-height: 40px;
    width: 40px;
  }
  .main__specs .main__specs-item .item__icon svg {
    width: 50%;
  }
  .main__specs .main__specs-item p {
    font-size: 12px;
  }
  .main__about {
    align-items: center;
    background-color: #a31aca;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    min-height: 100vh;
    justify-content: center;
  }
  .main__about .main__about-box {
    background-image: url("../img/about-background.png");
    min-height: 65%;
    width: 90%;
  }
  .main__about img {
    width: 40%;
  }
  .main__about .about__text {
    width: 40%;
    margin-left: 50px;
  }
  .main__about .about__text-title {
    color: white;
    font-size: 2rem;
  }
  .main__about .about__text-paragraph {
    color: #f0bdff;
  }
  .main__about .about__text-link {
    color: #f5ea5a;
    text-decoration: none;
  }
  .main__services .services__item {
    justify-content: center;
  }
  .main__services .services__item img {
    width: 400px;
  }
  .main__services .services__item-text .services__item-title {
    font-size: 24px;
  }
  .main__services .services__item-text .services__item-paragraph {
    font-size: 16px;
    width: auto;
  }
  .main__services .services__item-text .services__item-link {
    color: #a31aca;
    text-decoration: none;
  }
  .main__services .services__item-container:nth-child(3) {
    background-color: #f5f5f9;
  }
  .main__services .services__item-container:nth-child(3) .services__item {
    flex-direction: row-reverse;
  }
  .main__services .services__item-container:nth-child(3) .services__item .services__item-text {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
  .main__services .services__item-container:nth-child(3) .services__item .services__item-paragraph {
    text-align: end;
  }
}
@media (max-width: 768px) {
  .main__banner {
    min-height: 64vh;
  }
  .main__specs {
    flex-wrap: wrap;
    min-height: 26vh;
  }
  .main__specs .main__specs-item {
    width: 48%;
  }
  .main__banner .main__banner-text {
    line-height: 72px;
    width: 300px;
  }
  .main__banner .main__banner-text .banner__title {
    font-size: 30px;
  }
  .main__about {
    background-color: #a31aca;
    min-height: 100vh;
  }
  .main__about .main__about-box {
    min-height: 100%;
    width: 100%;
    border-radius: 0;
    flex-direction: column;
  }
  .main__about img {
    width: 40%;
  }
  .main__about .about__text {
    width: 80%;
    margin-left: 0px;
    text-align: center;
  }
  .main__services .services__item {
    flex-direction: column;
  }
  .main__services .services__item img {
    width: 300px;
  }
  .main__services .services__item-text {
    width: 80%;
    text-align: center;
  }
  .main__services .services__item-container:nth-child(3) .services__item {
    flex-direction: column;
  }
  .main__services .services__item-container:nth-child(3) .services__item .services__item-text,
  .main__services .services__item-container:nth-child(3) .services__item .services__item-paragraph,
  .main__services .services__item-container:nth-child(3) .services__item .services__item-link {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .main__services .services__item-container:nth-child(3) .services__item .services__item-title {
    text-align: center;
  }
  .main__about .about__text-title {
    color: white;
    font-size: 1.5rem;
  }
  .main__banner .main__banner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__banner .main__banner-box .main__banner-text {
    text-align: center;
    width: auto;
    color: rgb(255, 255, 255);
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.452), 0 6px 6px rgba(0, 0, 0, 0.493);
  }
  .main__banner .main__banner-box .main__banner-text .banner__paragraph {
    font-weight: 600;
  }
  .main__banner .main__banner-box .main__banner-text .banner__title {
    font-weight: bold;
  }
  .main__banner .main__banner-box .main__banner-btn .banner__registerBtn,
  .main__banner .main__banner-box .main__banner-btn .banner__aboutBtn {
    font-size: 16px;
  }
}
@media (max-height: 800px) {
  .main__banner {
    padding-bottom: 20px;
  }
  .main__specs {
    min-height: 200px;
  }
  .main__about {
    padding: 20px 0;
  }
  .main__about .main__about-box {
    box-shadow: none;
    min-height: 90vh;
  }
  .services__item-container {
    min-height: 800px;
  }
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fundo {
  display: flex;
  justify-content: center;
}

.fundo .box {
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center;
  width: 50vw;
  margin-top: 4rem;
  background-color: white;
  border: 4px solid #ff78f0;
  border-radius: 3%;
}

.fundo .box #bemvindo {
  font-size: 30px;
  height: 2vh;
}

.fundo .box .inputCadastro {
  display: flex;
  justify-content: center;
  height: 5vh;
  flex-direction: column;
  gap: 5px;
}

.fundo .box .inputCadastro #semConta {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
}
.fundo .box .inputCadastro #semConta:hover {
  color: #ff78f0;
}

.fundo .box .inputCadastro .single-input {
  position: relative;
  margin: 30px 0;
}
.fundo .box .inputCadastro .single-input label {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: rgb(150, 150, 150);
  cursor: text;
  transition: 0.5s ease-in-out;
}
.fundo .box .inputCadastro .single-input .input {
  border-radius: 2%;
  width: 100%;
  padding: 2px;
  border: 0;
  border-bottom: 2px solid rgb(200, 200, 200);
  outline: 0;
  font-size: 16px;
  color: rgb(80, 80, 80);
  transition: 0.5s ease-in-out;
}
.fundo .box .inputCadastro .single-input:focus .fundo .box .inputCadastro .single-input:valid {
  border-bottom: 2px solid cornflowerblue;
}
.fundo .box .inputCadastro .single-input:focus .fundo .box .inputCadastro .single-input:valid ~ label {
  transform: translateY(-24px);
  font-size: 12px;
  color: cornflowerblue;
}

.fundo .box .inputCadastro .fonte {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.fundo .box .inputCadastro .bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.fundo .box .inputCadastro .bn632-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.fundo .box .inputCadastro .bn632-hover:focus {
  outline: none;
}
.fundo .box .inputCadastro .bn632-hover.bn20 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.fundo .box .inputCadastro #iconichild {
  height: 30vh;
  margin-bottom: 2rem;
}

.inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.inputbox:last-child {
  margin-bottom: 0;
}
.inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.inputbox input:focus ~ span,
.inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.inputbox [type=button] {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
.inputbox:hover [type=button] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

@media (max-width: 1368px) {
  .fundo .box {
    height: 70vh;
  }
  .fundo .box .inputCadastro #iconichild {
    height: 300px;
  }
}
@media (max-width: 680px) {
  .fundo .box {
    border: none;
  }
}
@media (max-width: 425px) {
  .fundo .box {
    height: 80vh;
    width: 80vw;
  }
  .inputbox {
    position: relative;
    width: 90%;
    height: 50px;
    margin-bottom: 50px;
  }
  .fundo .box .inputCadastro #iconichild {
    width: 80%;
    margin-bottom: 2rem;
    margin-left: 0;
    align-self: center;
  }
  #email,
  #password {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    height: 40px;
  }
}
@media (max-width: 375px) {
  .fundo .box {
    width: 90vw;
    height: 80vh;
  }
}
.swal2-container {
  font-family: "Poppins", sans-serif;
}

@media (max-height: 800px) {
  .fundo .box .inputCadastro #iconichild {
    width: 200px;
    align-self: center;
  }
  .fundo {
    min-height: 300px;
    padding: 20px 0;
  }
  .fundo .box {
    min-height: 500px;
    padding: 20px 0;
  }
  #form {
    min-height: 250px;
  }
}
.container__form-register {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  font-weight: 500;
  background-color: aliceblue;
}
.container__form-register .container__form-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__form-register .form__btn {
  background-color: #a31aca;
  border: none;
  border-radius: 8px;
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: all 0.14s ease-out;
  white-space: nowrap;
}
.container__form-register .form__btn:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}
.container__form-register .form__btn:focus-visible {
  outline-offset: 1px;
}

.passwordContent {
  display: flex;
  gap: 0.25rem;
}

.error {
  color: red;
  font-size: 12px;
}

.require {
  font-size: 12px;
  color: #7d7e8a;
}

@media (max-width: 768px) {
  .container__form-register {
    height: auto;
  }
  .container__form {
    margin-bottom: 20px;
  }
  .passwordContent {
    flex-direction: column;
  }
  .require {
    font-size: 10px;
  }
}
@media (max-height: 800px) {
  .container__form-register {
    padding: 20px 0;
  }
}
.container__form {
  height: 92vh;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__form-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__form-text {
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.form__btn-save {
  background-color: #3ab5df;
  border: none;
  border-radius: 8px;
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: all 0.14s ease-out;
  white-space: nowrap;
}
.form__btn-save:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}
.form__btn-save:focus-visible {
  outline-offset: 1px;
}

.form__btn-cancel {
  background-color: #3ab5df;
  border: none;
  border-radius: 8px;
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: all 0.14s ease-out;
  white-space: nowrap;
}
.form__btn-cancel:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}
.form__btn-cancel:focus-visible {
  outline-offset: 1px;
}

@media (max-width: 768px) {
  .container__form {
    height: auto;
  }
  .container__form-text {
    font-size: 18px;
    padding-top: 20px;
  }
}
* {
  font-family: "Poppins", sans-serif;
}

.dependenteTitulo {
  display: flex;
  margin-left: 5rem;
}

.tittleDependentes {
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.box {
  background-color: #EEF3FF;
  height: 45vw;
  width: auto;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1%;
}

.box .titulos {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.box .titulos .infoTitulos {
  width: 310px;
  text-align: center;
  font-weight: bolder;
}

.dependente {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vw;
  width: 93%;
  background-color: rgb(255, 255, 255);
  border-radius: 1%;
  margin-top: 2rem;
}

.dependente .icon #userDependente {
  width: 3vw;
}

.dependente .dados {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.dependente .dados .infoDados {
  width: 312px;
  text-align: center;
}

@media (max-width: 1440px) {
  .box {
    width: 90%;
  }
  .box .titulos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    margin-top: 1rem;
  }
  .box .titulos .infoTitulos {
    width: 200px;
    text-align: center;
    font-weight: bolder;
  }
  .dependente .dados .infoDados {
    width: 200px;
    text-align: center;
  }
}
@media (max-width: 1440px) and (max-width: 1024px) {
  .box {
    width: 90%;
    height: 80vh;
  }
  .box .titulos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .box .titulos .infoTitulos {
    width: 150px;
    text-align: center;
    font-weight: bolder;
  }
  .dependente .dados .infoDados {
    width: 150px;
    text-align: center;
  }
}
@media (max-width: 1440px) and (max-width: 1024px) and (max-width: 768px) {
  .box {
    width: 90%;
    height: 80vh;
  }
  .box .titulos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .box .titulos .infoTitulos {
    width: 120px;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
  }
  .dependente .dados .infoDados {
    width: 120px;
    text-align: center;
    font-size: 13px;
  }
}
@media (max-width: 1440px) and (max-width: 1024px) and (max-width: 768px) and (max-width: 425px) {
  .dependenteTitulo {
    display: none;
    margin-left: 1rem;
  }
  #tittledependentes {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
  }
  .box {
    width: 100%;
    height: 80vh;
    margin-left: 0;
    margin-right: 0;
  }
  .box .titulos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .box .titulos .infoTitulos {
    width: 80px;
    text-align: center;
    font-weight: bolder;
    font-size: 10px;
  }
  .dependente .dados .infoDados {
    width: 75px;
    text-align: center;
    font-size: 9px;
  }
}
@media (max-width: 1440px) and (max-width: 1024px) and (max-width: 375px) {
  .box .titulos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .box .titulos .infoTitulos {
    width: 60px;
    text-align: center;
    font-weight: bolder;
    font-size: 10px;
  }
  .dependente {
    height: 7vh;
  }
  .dependente .dados .infoDados {
    width: 60px;
    height: 2vh;
  }
}
@media (max-width: 1440px) and (max-width: 1024px) and (max-width: 320px) {
  .dependente .dados .infoDados {
    width: 55px;
    text-align: center;
    font-size: 8px;
  }
  .box .titulos .infoTitulos {
    width: 55px;
    text-align: center;
    font-weight: bolder;
    font-size: 10px;
  }
}
.container__main-app {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__main-app .card__title {
  font-size: 16px;
  color: #646466;
  font-weight: bold;
  margin-bottom: 0;
}
.container__main-app .main__app-content {
  display: grid;
  height: 92%;
  width: 97%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.container__main-app .main__app-content .card__button button {
  border: none;
  color: white;
  background-color: #3ab5df;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
}
.container__main-app .main__app-content .content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.container__main-app .main__app-content .content__card:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
  background-color: #eef3ff;
}
.container__main-app .main__app-content .content__card:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/4;
  background-color: #eef3ff;
}
.container__main-app .main__app-content .content__card:nth-child(3) {
  grid-column: 4/4;
  grid-row: 1/2;
  background-color: #eef3ff;
}
.container__main-app .main__app-content .content__card:nth-child(4) {
  grid-column: 4/4;
  grid-row: 2/4;
  background-color: #eef3ff;
}
.container__main-app .main__app-content .content__card:nth-child(5) {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #3ab5df;
}
.container__main-app .main__app-content .content__card:nth-child(6) {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: #eef3ff;
}

.card__container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.card__container .card__dependents-content {
  height: 23%;
  background-color: white;
  border-radius: 10px;
}
.card__container .card__log-content {
  display: flex;
  align-items: center;
  height: 13%;
  background-color: white;
  border-radius: 10px;
  gap: 5%;
}
.card__container .card__log-content .log__light {
  width: 15px;
  height: 15px;
  background-color: rgba(0, 255, 0, 0.37);
  border-radius: 100%;
  margin-left: 10%;
}
.card__container .card__log-content .log__text {
  margin: 0;
  font-size: 14px;
  color: #7d7e8a;
  font-weight: 600;
}
.card__container .card__schedule-content:nth-child(2) {
  height: 36%;
  background-color: #3ab5df;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6%;
}
.card__container .card__schedule-content:nth-child(2) img {
  width: 60px;
}
.card__container .card__schedule-content:nth-child(2) p {
  color: white;
  margin: 0;
  font-weight: 600;
  width: 40%;
}
.card__container .card__schedule-content:nth-child(3) {
  height: 36%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6%;
  text-decoration: none;
}
.card__container .card__schedule-content:nth-child(3) img {
  width: 60px;
}
.card__container .card__schedule-content:nth-child(3) p {
  color: #7d7e8a;
  margin: 0;
  font-weight: 600;
  width: 40%;
}
.card__container .card__notifications-content {
  display: flex;
  align-items: center;
  gap: 5%;
  height: 21.5%;
  background-color: white;
  border-radius: 10px;
}
.card__container .card__notifications-content .notifications__light {
  width: 15px;
  height: 15px;
  background-color: rgba(128, 0, 128, 0.411);
  border-radius: 100%;
  margin-left: 10%;
}
.card__container .card__notifications-content .notifications__text {
  margin: 0;
  font-size: 14px;
  color: #7d7e8a;
  font-weight: 600;
}
.card__container .config__img {
  width: 180px;
}

.card__title-add {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 10px;
  align-self: flex-start;
}

.container__add {
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
}

.container__config {
  text-decoration: none;
  align-items: center;
}

.card__title-config {
  font-size: 16px;
  color: #646466;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 10px;
  align-self: flex-start;
}

.card__dependents-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card__dependents-content .dependent__img {
  width: 60px;
  height: 60px;
  background-color: rgba(58, 182, 223, 0.5764705882);
  border-radius: 10px;
  margin-left: 4%;
}
.card__dependents-content .dependent__info {
  width: 20%;
}
.card__dependents-content .dependent__info .dependent__info-title {
  color: black;
  font-weight: bold;
  margin: 0;
  font-size: 14px;
}
.card__dependents-content .dependent__info .dependent__info-text {
  color: #7d7e8a;
  font-weight: 600;
  margin: 0;
  font-size: 14px;
}

@media (max-width: 1024px) {
  .card__container .card__log-content .log__text {
    font-size: 12px;
  }
  .card__container .card__schedule-content:nth-child(2) p {
    font-size: 12px;
  }
  .card__container .card__schedule-content:nth-child(2) img {
    width: 50px;
  }
  .card__container .card__schedule-content:nth-child(3) p {
    font-size: 12px;
  }
  .card__container .card__schedule-content:nth-child(3) img {
    width: 50px;
  }
  .card__container .card__notifications-content .notifications__text {
    font-size: 12px;
  }
  .card__dependents-content .dependent__img {
    width: 50px;
    height: 50px;
  }
  .card__dependents-content .dependent__info {
    width: 24%;
  }
  .card__dependents-content .dependent__info .dependent__info-title {
    font-size: 11px;
  }
  .card__dependents-content .dependent__info .dependent__info-text {
    font-size: 11px;
  }
  .container__main-app .card__title {
    font-size: 14px;
  }
  .card__title-add {
    font-size: 14px;
  }
  .card__title-config {
    font-size: 14px;
  }
  .card__container .config__img {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .card__container .card__log-content {
    height: 12%;
  }
  .container__main-app {
    align-items: flex-start;
    height: auto;
    margin-bottom: 10px;
  }
  .container__main-app .main__app-content {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .container__main-app .main__app-content .content__card:nth-child(1) {
    grid-column: 1/5;
    grid-row: 1/3;
    background-color: #eef3ff;
  }
  .container__main-app .main__app-content .content__card:nth-child(2) {
    grid-column: 1/3;
    grid-row: 4/7;
    background-color: #eef3ff;
  }
  .container__main-app .main__app-content .content__card:nth-child(3) {
    grid-column: 3/5;
    grid-row: 4/4;
    background-color: #eef3ff;
  }
  .container__main-app .main__app-content .content__card:nth-child(4) {
    grid-column: 3/5;
    grid-row: 5/7;
    background-color: #eef3ff;
  }
  .container__main-app .main__app-content .content__card:nth-child(5) {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: #3ab5df;
  }
  .container__main-app .main__app-content .content__card:nth-child(6) {
    grid-column: 3/5;
    grid-row: 3/4;
    background-color: #eef3ff;
    padding-bottom: 10px;
  }
}
@media (max-width: 425px) {
  .card__dependents-content {
    justify-content: flex-start;
  }
  .card__dependents-content .dependent__info:nth-child(4),
  .card__dependents-content .dependent__info:nth-child(3) {
    display: none;
  }
  .card__dependents-content {
    gap: 10%;
  }
  .card__dependents-content .dependent__img {
    width: 60px;
    height: 60px;
  }
  .card__dependents-content .dependent__info {
    width: auto;
  }
  .card__dependents-content .dependent__info .dependent__info-title {
    font-size: 14px;
  }
  .card__dependents-content .dependent__info .dependent__info-text {
    font-size: 14px;
  }
  .card__container .card__log-content {
    height: 12%;
  }
  .container__main-app {
    align-items: flex-start;
    height: auto;
    margin-bottom: 10px;
  }
  .container__main-app .main__app-content {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
  .container__main-app .main__app-content .content__card:nth-child(1) {
    grid-column: 1/5;
    grid-row: 1/3;
    background-color: #eef3ff;
  }
  .container__main-app .main__app-content .content__card:nth-child(2) {
    grid-column: 1/5;
    grid-row: 6/9;
    background-color: #eef3ff;
  }
  .container__main-app .main__app-content .content__card:nth-child(3) {
    grid-column: 1/5;
    grid-row: 5/6;
    background-color: #eef3ff;
  }
  .container__main-app .main__app-content .content__card:nth-child(4) {
    grid-column: 1/5;
    grid-row: 9/11;
    background-color: #eef3ff;
  }
  .container__main-app .main__app-content .content__card:nth-child(5) {
    grid-column: 1/5;
    grid-row: 3/4;
    background-color: #3ab5df;
  }
  .container__main-app .main__app-content .content__card:nth-child(6) {
    grid-column: 1/5;
    grid-row: 4/5;
    background-color: #eef3ff;
  }
}
.container__main-reponsibleInfo {
  height: 92vh;
  background-color: #f0f8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.container__responsibleInfo-content {
  display: flex;
  justify-content: center;
}

.info__btn-edit {
  background-color: #3ab5df;
  border: none;
  border-radius: 8px;
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: all 0.14s ease-out;
  white-space: nowrap;
}
.info__btn-edit:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}
.info__btn-edit:focus-visible {
  outline-offset: 1px;
}

.disabled {
  cursor: not-allowed;
}

.form-disabled {
  display: none;
}

.container__header-app {
  align-items: center;
  display: flex;
  min-height: 8vh;
  justify-content: space-between;
  padding: 0 30px;
}
.container__header-app #app__nav-icon {
  cursor: pointer;
  margin-right: 10px;
  width: 25px;
}
.container__header-app .logo-img {
  width: 50px;
}
.container__header-app .profile-img {
  border: 3px solid #3ab5df;
  border-radius: 100%;
  width: 40px;
}

.app__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside__bar {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  left: 0;
  position: fixed;
  transform: translateX(-1000px);
  transition: transform 0.3s ease-in-out;
}

#menu__bar {
  background-color: #3ab5df;
  min-height: 100vh;
  width: 320px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  display: flex;
  flex-direction: column;
}
#menu__bar .menu__bar-icon {
  align-self: flex-end;
  margin: 5px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
#menu__bar .menu__bar-icon:hover {
  background-color: rgba(255, 255, 255, 0.466);
  color: black;
}
#menu__bar ul {
  margin-left: 33px;
  margin-top: 1rem;
  padding-left: 0;
  list-style: none;
}
#menu__bar ul li {
  font-size: 18px;
  list-style: none;
  margin-top: 20px;
}
#menu__bar ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
#menu__bar ul li a:hover {
  color: rgb(0, 0, 0);
}
#menu__bar ul li:first-child {
  margin-top: 0;
}

.profile-img {
  cursor: pointer;
}

.nav__profile {
  background-color: #3ab5df;
  border-radius: 4px;
  display: none;
  min-height: 60px;
  justify-content: center;
  margin-right: 30px;
  position: absolute;
  right: 0;
  top: 10;
  width: 80px;
}
.nav__profile ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 0;
}
.nav__profile ul li {
  font-size: 14px;
  list-style: none;
  text-align: right;
}
.nav__profile ul li a {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
}
.nav__profile ul li a:hover {
  color: rgb(0, 0, 0);
}

.aside__bar-profile {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  right: 0;
  position: fixed;
  transform: translateX(1000px);
  transition: transform 0.3s ease-in-out;
}

#profile__bar {
  background-color: #3ab5df;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
#profile__bar svg {
  align-self: flex-start;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}
#profile__bar svg:hover {
  background-color: rgba(255, 255, 255, 0.466);
  color: black;
}
#profile__bar .profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
#profile__bar .profile__info .profile__pic {
  width: 130px;
  border: 5px solid #ffffff;
  border-radius: 100%;
}
#profile__bar .profile__info p {
  font-size: 18px;
}
#profile__bar .profile__division {
  background-color: rgba(255, 255, 255, 0.486);
  width: 100%;
  min-height: 2px;
}
#profile__bar .profile__options {
  margin-bottom: 50px;
}
#profile__bar ul {
  margin-top: 30px;
  text-align: center;
}
#profile__bar ul li {
  font-size: 16px;
  list-style: none;
  margin-top: 10px;
}
#profile__bar ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}
#profile__bar ul li a:hover {
  color: rgb(0, 0, 0);
}
#profile__bar ul li button {
  border-radius: 20px;
  border: none;
  background-color: white;
  padding: 8px 30px;
}
#profile__bar ul li button a {
  font-weight: bold;
  color: #3ab5df;
  text-decoration: none;
}
#profile__bar ul li button a:hover {
  color: rgb(0, 0, 0);
}

.openNavbar {
  transform: translateX(0);
  transition: 0.3s all;
}

@media (max-width: 425px) {
  #menu__bar,
  #profile__bar {
    width: 100vw;
  }
}
@media (max-height: 800px) {
  .container__header-app {
    min-height: 70px;
  }
}
.box .dependenteLog .iconLog #doneImg {
  height: 25px;
}

.dependenteLog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vw;
  width: 88%;
  background-color: rgb(255, 255, 255);
  border-radius: 1%;
}

.dependenteLog .iconLog #userDependente {
  width: 3vw;
}

.dependenteLog .dadosLog {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.dependenteLog .dadosLog .infoDadosLog {
  width: 318px;
  text-align: center;
}

@media (max-width: 1440px) {
  .dependenteLog .dadosLog .infoDadosLog {
    width: 205px;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .dependenteLog .dadosLog .infoDadosLog {
    width: 150px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .dependenteLog .dadosLog .infoDadosLog {
    width: 122px;
    text-align: center;
    font-size: 13px;
  }
  .box .dependenteLog .iconLog #doneImg {
    height: 20px;
  }
}
@media (max-width: 425px) {
  .dependenteLog {
    height: 5vh;
  }
  .dependenteLog .dadosLog .infoDadosLog {
    width: 79px;
    text-align: center;
    font-size: 9px;
  }
  .box .dependenteLog .iconLog #doneImg {
    height: 15px;
  }
}
@media (max-width: 375px) {
  .dependenteLog {
    height: 5vh;
  }
  .dependenteLog .dadosLog .infoDadosLog {
    width: 63px;
    text-align: center;
    font-size: 9px;
  }
  .box .dependenteLog .iconLog #doneImg {
    height: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
